name: Linting
on:
  schedule:
    - cron: '23 1 * * *'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
    linting:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                files: [
                      "AdditionalHardening.admx", 
                      "AdditionalDebugPolicies.admx", 
                      "AdditionalDefenderPolicies.admx", 
                      "AdditionalHardeningFromMicrosoft.admx", 
                      "AdditionalLegacyHardening.admx", 
                      "AdditionalNetworkHardening.admx", 
                      "AdditionalSystemHardening.admx"
                      ]
        container:
            image: ghcr.io/harvester57/docker-admxlint:main
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                egress-policy: audit

            -  name: Checkout
               uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            -  name: Lint ADMX files
               run: admx-lint --input_file ${{ matrix.files }}
    
    lint-powershell:
        permissions:
          security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
        name: PSScriptAnalyzer
        runs-on: ubuntu-latest
        steps:
          - name: Harden the runner (Audit all outbound calls)
            uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
            with:
              egress-policy: audit

          - name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    
          - name: Run PSScriptAnalyzer
            uses: microsoft/psscriptanalyzer-action@6b2948b1944407914a58661c49941824d149734f
            with:
              # Check https://github.com/microsoft/action-psscriptanalyzer for more info about the options.
              # The below set up runs PSScriptAnalyzer to your entire repository and runs some basic security rules.
              path: .\
              recurse: true
              output: results.sarif
    
          # Upload the SARIF file generated in the previous step
          - name: Upload SARIF results file
            uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v3.29.5
            with:
              sarif_file: results.sarif
    
