name: Linting
on:
  schedule:
    - cron: '23 1 * * *'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
    linting:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                files: [
                    "AdditionalHardening.admx", 
                    "AdditionalDebugPolicies.admx", 
                    "AdditionalDefenderPolicies.admx", 
                    "AdditionalHardeningFromMicrosoft.admx", 
                    "AdditionalLegacyHardening.admx", 
                    "AdditionalNetworkHardening.admx", 
                    "AdditionalSystemHardening.admx"
                    ]
        container:
            image: ghcr.io/harvester57/docker-admxlint:main
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                egress-policy: audit

            - 
                name: Checkout
                uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - 
                name: Lint ADMX files
                run: admx-lint --input_file ${{ matrix.files }}
    
    lint-powershell:
        permissions:
          contents: read # for actions/checkout to fetch code
          security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
          actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
        name: PSScriptAnalyzer
        runs-on: ubuntu-latest
        steps:
          - name: Harden the runner (Audit all outbound calls)
            uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
            with:
              egress-policy: audit

          - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    
          - name: Run PSScriptAnalyzer
            uses: microsoft/psscriptanalyzer-action@6b2948b1944407914a58661c49941824d149734f
            with:
              # Check https://github.com/microsoft/action-psscriptanalyzer for more info about the options.
              # The below set up runs PSScriptAnalyzer to your entire repository and runs some basic security rules.
              path: .\
              recurse: true
              output: results.sarif
    
          # Upload the SARIF file generated in the previous step
          - name: Upload SARIF results file
            uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v3.29.5
            with:
              sarif_file: results.sarif
    
